.blue {
    width:200px;
    height:200px;
    margin-top: 1em;
    background-color: blue;
}

.green {
    width:200px;
    height:200px;
    margin-top: 1em;
    background-color: green;
}

.orange {
    width:200px;
    height:200px;
    margin-top: 1em;
    background-color: orange;
}

/*
    <!> Attention à l'ordre !!! Le style qui écrase/recouvre les autres est celui placé en dernier dans le code
 */